@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
}

ul{
  list-style-type: none;
}
/* html,

/* .container {
  position: relative;
  min-height: 100%;
  max-width: 1300px;
  margin:  40 auto;
} */
body{
  background-color: #7f7f7f;
}
.content {
  height:  calc(100vh - 40px);
  /* background-color: #999999; */
}   
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #d7d7d7;
  border-top: black 1px solid;
}
.func{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
.setting{
  display: flex;
  gap: 40px;
  align-items: center;
}
.sizes{
  display: flex;
  gap: 10px;
  align-items: center;
}

.container{
  line-height: 100vh;
  text-align: center;
  height: 100vh;
  
}
.image{
  vertical-align: middle;
  margin: 40px auto;
}
.form{
  display: grid;
  gap: 10px;
  padding: 10px 15px;

}
.header{
  height: 40px;
  background-color: #d7d7d7;
  border-bottom: black 1px solid;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

}
.open{
  border: none;
  margin: 10px;
  outline: none;
  background-color: transparent;
  color: black;
  display: block;
}
.open:first-letter{
  text-decoration: underline;
}
.color-real{
  width: 50px;
  height: 20px;
  border: gray 1px solid;
}
.co, .xy, .scale_group{
  display: flex;
  gap: 5px;
}
input[type=range] {
  accent-color: #7f7f7f;
}
select{
  width: 320px;
  height: 24px;
  background-color: #F0F0F0;
  border-radius: 2px;
  border-color: black;
}

.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: white;
  border: gray 1px solid;
  width: 300px;
  height: 250px;
  margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    /* overflow-y: scroll; */
    
}
   
.modal_active {
  position: fixed; 
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
  width: 300px;
  height: 250px;
  margin: auto;
  background-color: #d7d7d7;
}
.scale_modal{
  position: fixed;
  margin: auto;
  width: 400px;
  background-color: #d7d7d7;
  padding-bottom: 10px;
  
}
dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.4);
}
dialog {
  border: none;
  padding: 0;
}
.modal_title{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: gray 1px solid;
}
.hidden {
  overflow: hidden;
}
.close{
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
  background-image: url('images/close.svg');
  background-size: cover;
}
.dop{
  color: black;
  font-size: 10px;
  padding: 5px 15px;
  text-align: center;
}
.dop_size, .img-size, .scale-size{
  color: black;
  font-size: 10px;
  padding: 5px 0;
}
input[type='checkbox']:checked{
  accent-color: #7f7f7f;
}
.i-f::file-selector-button{
  background-color: #F0F0F0;
  border: gray 1px solid;
  padding: 8px;
  letter-spacing: 1px;


}
.sub{
  background-color: #F0F0F0;
  border: black 1px solid;
  padding: 8px;
  letter-spacing: 1px;
  width: 100px;
  margin: 5px auto;
}
.url{
  padding-top: 10px;
}
.i-u{
  height: 20px;
  background-color: #F0F0F0;
  border: black 1px solid;
}
.text, .rgb{
  margin: auto;
}
.parameters{
  display: grid;
  gap: 10px;
  border: none;
}
.groups{
  display: flex;
  justify-content: space-between;
  width: 200px;
  gap: 10px;
  align-items: center;

}
.inp{
  width: 50px;
  height: 20px;
  background-color: #F0F0F0;
  border: black 1px solid;
  border-radius: 2px;
  padding: 2px;
}
.size_parameter{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  width: 40px;
  background-color: #F0F0F0;
  border: black 1px solid;
  border-radius: 2px;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: #F0F0F0;
  border: black 1px solid;
  color:  black;
  text-align: justify;
  border-radius: 2px;
  font-size: 9px;
  padding: 5px;
  margin: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -330%;
  margin-left: -120px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.method{
  display: flex;
  justify-content: space-between;
  
}
